body { 
  font-family: Arial, sans-serif; 
  margin: 0; 
  background: #fefefa; 
}
header { 
  background:
  darkgreen; 
  padding: 10px; 
}
nav a { 
  color: white; 
  margin: 0 10px; 
  text-decoration: none; 
}
nav a:hover { 
  text-decoration: underline; 
}

#products {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr)); 
  gap: 20px; 
  padding: 100px
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background: #f9f9f9;
  text-align: center;
}

#name { 
  top: 100px; 
  left: 50px; 
  position: absolute; 
}

#password { 
  top: 150px; 
  left: 50px; 
  position: absolute; 
}

#btn1 {
  top:100px; 
  left: 50px; 
  position:absolute;
}

#btn2 {
  margin-top: 90px; 
  
}
#btn3 {
  margin-top: 100px; 
  
}
button {
  background: darkgreen;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover { background: green; }